# tauri and rust
/target
/src-tauri/target
/src-tauri/gen
/src-tauri/Cargo.lock

*.d

# web stuff
node_modules
dist
.env*
*.log

# android
*.iml
.gradle
local.properties
captures
.externalNativeBuild
.cxx

# ides and os
.DS_Store
.idea
.vscode
*.swp
*~
bootstrap_server/target/
build/
*.apk
*.AppImage
*.deb
*.rpm
*.aab
